body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%; }

h1, h2 {
  color: #27a2a1;
  margin: 40px 0;
  font-family: 'Noticia Text', sans-serif; }

.block {
  background: #3B4044;
  width: 100%;
  padding: 20px 0; }

#header {
  height: 10%;
  margin: 0 auto;
  width: 900px; }
  @media screen and (max-width: 900px) {
    #header {
      width: 100%; } }
  #header img {
    width: 200px; }
  #header div {
    display: inline-block; }

#menu {
  font-family: 'Noticia Text', serif;
  float: right; }
  #menu .menu-btn {
    font-size: 20px;
    display: none; }
    @media screen and (max-width: 620px) {
      #menu .menu-btn {
        display: inline-block; } }
  #menu a {
    color: #27a2a1;
    font-size: 16px;
    padding: 30px 20px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none; }
    @media screen and (max-width: 620px) {
      #menu a {
        display: none; } }

#mobi-menu a {
  color: #27a2a1;
  font-size: 24px;
  padding: 30px 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none; }
  @media screen and (min-width: 620px) {
    #mobi-menu a {
      display: none; } }

#banner {
  position: relative; }

#slide {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  height: 600px;
  background: #3B4044; }
  #slide img {
    -webkit-box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.75);
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
  #slide .visible {
    left: 0; }
  #slide .description {
    background: rgba(100, 130, 130, 0.6);
    -webkit-box-shadow: 10px 10px 10px 0 rgba(140, 180, 180, 0.2);
    -moz-box-shadow: 10px 10px 10px 0 rgba(140, 180, 180, 0.2);
    -ms-box-shadow: 10px 10px 10px 0 rgba(140, 180, 180, 0.2);
    box-shadow: 10px 10px 10px 0 rgba(140, 180, 180, 0.2);
    z-index: 1;
    position: absolute;
    bottom: 0;
    font-family: 'Noto Serif', serif; }
    @media screen and (max-width: 400px) {
      #slide .description {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%; } }
    @media screen and (max-width: 620px) and (min-width: 400px) {
      #slide .description {
        left: 0;
        bottom: 0;
        width: 100%; } }
    @media screen and (min-width: 620px) {
      #slide .description {
        bottom: 20px;
        left: 20px;
        width: 50%; } }
    #slide .description h1 {
      color: #EEEEEE;
      font-size: 24px;
      margin: 30px 25px 80px; }
      @media screen and (max-width: 620px) {
        #slide .description h1 {
          margin: 15px 20px 65px;
          font-size: 20px; } }
    #slide .description button {
      color: #EEEEEE;
      right: 20px;
      bottom: 20px;
      position: absolute;
      border: none;
      width: 100px;
      height: 48px;
      background: #099391;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    #slide .description .navigation {
      position: absolute;
      font-size: 24px;
      padding: 20px;
      display: inline-flex;
      bottom: 0; }
      #slide .description .navigation a {
        color: #EEEEEE;
        margin: 0 10px; }

#conteudo {
  width: inherit;
  background: white;
  text-align: center;
  margin: 0 auto; }

#boxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center; }

.box {
  margin: 20px auto;
  justify-content: space-between;
  height: 100%;
  min-height: 500px; }
  @media screen and (mix-width: 900px) {
    .box {
      height: 900px; } }

.item {
  margin: 10px;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.capa {
  width: 300px; }

.info {
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  background: rgba(100, 130, 130, 0.6);
  height: 100%;
  right: 0;
  top: 0; }

.titulo {
  font-weight: bold;
  color: #ddd;
  padding: 20px 10px;
  text-align: center; }

.qntd-fotos {
  color: #ccc;
  display: inline-block;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 20px; }

#contato {
  margin: 30px;
  text-align: center;
  height: inherit;
  align-items: center; }
  #contato div {
    width: 80%;
    display: inline-block; }
  #contato textarea, #contato input, #contato label {
    border-color: #C5C5C5;
    color: #C5C5C5; }
  #contato #submit {
    background: #099391;
    padding: 0 20px;
    height: 48px; }
