<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="./js/securityValidate.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agência Fotro - Agência fotográfica que atua em belo Horizonte e Região.">
    <meta name="keywords" content="Album de casamento, melhor fotografo, fotografia social, tudo de casamento, book, Fotojornalismo, jornalismo, esportivo, editorial, photo, Fotografia institucional, agencia de fotojornalismo">
    <meta name="author" content="André Yanclous">
    <title>Agência Fotro</title>

    <!-- AngularJS -->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>

    <!-- Material Design Lite -->
    <!-- <link rel="stylesheet" href="./bower_components/material-design-lite/material.min.css">
    <script src="./bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">

    <!-- Page style -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/photo-view.css">
    <script type="text/javascript" src="./js/menu.js"></script>
    <script type="text/javascript" src="./js/parseRSS.js"></script>
    <script src="./js/animation.js"></script>
    <!-- <script src="./js/fb-feed.js"></script> -->

    <!-- Angular Code -->
    <script src="./js/modules.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/routes.js"></script>

    <!-- Desque Ad -->
    <link rel="stylesheet" href="./css/desque-ad.css">

</head>
<body ng-app="navApp" ng-controller="menuCtrl" >
    <show-image></show-image>

    <div id="nav" class="">

        <div id="btn">
            <i class="fa fa-bars fa-2x"></i>
        </div>

        <div id="menu">
            <div ng-repeat="item in items" class="item {{selected(item.id, currentPage)}}"  ng-click="changePage(item.id)">
                <a href="">
                    <i class="fa {{item.icon}} fa-2x"></i>
                    <spam>{{item.name}}</spam>
                </a>
            </div>
        </div>

        <div id="social">
            <h5>Redes Sociais</h5>
            <a target="_blank" href="https://www.facebook.com/agenciafotro/?fref=ts">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a target="_blank" href="https://www.flickr.com/photos/137657298@N03/">
                <i class="fa fa-flickr fa-2x"></i>
            </a>
            <a target="_blank" href="https://medium.com/@agenciafotro">
                <i class="fa fa-medium fa-2x"></i>
            </a>

        </div>

    </div>

    <div id="header"><img src="./images/logo.png" alt=""></div>


    <div id="content">

        <H2>{{items[currentPage-1].name}}</H2>

        <div ng-if="currentPage==1"> <!-- Portfólio -->

            <div id="grid" ng-controller='portfolioCtrl' class="feed mdl-grid">

                <div ng-if='!data'class="loading"></div>

                <!-- Visualização de todos albums -->
                <div ng-if='!viewAlbum && !viewImage' on-last-repeat ng-repeat="album in data.photosets.photoset" class="item-port  mdl-cell mdl-cell--3-col">

                    <img class='capa mdl-shadow--2dp' ng-src="https://farm{{album.farm}}.staticflickr.com/{{album.server}}/{{album.primary}}_{{album.secret}}_z.jpg" alt="">
                    <a href='' class="info" ng-click="detail(album.id)" class="titulo">
                        <h4>{{album.title._content}}</h4>
                        <div class="qntd-fotos">{{album.photos}} fotos</div>
                    </a>

                </div>

                <!-- Visualização de album -->
                <div ng-if='viewAlbum' class='frimdl-cell mdl-cell--12-col viewAlbum' >

                    <h2><a href='' ng-click='Back()'><i style='color: #4e4e4e;' class="fa fa-arrow-left"></i></a> {{data.photoset.title}}</h2>

                    <div on-last-repeat ng-repeat="photo in data.photoset.photo" class="item-port  mdl-cell mdl-cell--3-col" style=" height: 200px; overflow: hidden">

                        <img class='capa mdl-shadow--2dp' ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_z.jpg">

                        <a class="info" HREF="" ng-click='showImage(photo.id)' >
                            <h4>{{photo.title}}</h4>
                        </a>


                        <div id='bg-modal' ng-hide="photo.id != imgSelected"  ng-click='closeImg()' >

                            <div id="md-content">

                                <div>
                                    <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_b.jpg" alt="" />
                                </div>

                                <div id="control">
                                    <p>{{photo.title}}</p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <h2><a href='' ng-click='Back()' style='color: #333'><i class="fa fa-arrow-left"></i> Voltar<a href='#header'><i class="fa fa-arrow-up"></i> Topo</h2></a>
                </div>

            </div>

            <center>
                <a target="_blank" href='https://www.flickr.com/photos/137657298@N03/' class="btn btn-block btn-social btn-lg btn-facebook">
                    <span class="fa fa-flickr"></span> Portfólio no Flickr
                </a>
            </center>
        </div>

        <div ng-if="currentPage==2"> <!-- Posts Recentes -->
            <!-- TODO: Timeline de posts recentes -->
            <div ng-controller='postsCtrl' class=" feed mdl-grid">

                <div ng-if='!data'class="loading"></div>

                <!-- Visualização de Posts -->
                <div on-last-repeat ng-repeat="post in data.data" class="item-port  mdl-cell mdl-cell--3-col">

                    <img class='capa mdl-shadow--2dp' ng-src="{{post.full_picture}}" alt="">

                    <a target="_blank" href='{{post.link}}' class="info" class="titulo">
                        <h4>{{post.message  |  limitTo : 140 }}</h4>
                        <div class="qntd-fotos">{{ post.created_time | date:"dd/MM 'às' h:mm"}}</div>
                    </a>

                </div>


            </div>

            <center>
                <a target="_blank" href='https://www.facebook.com/agenciafotro' class="btn btn-block btn-social btn-lg btn-facebook">
                    <span class="fa fa-facebook"></span> Página no Facebook
                </a>
            </center>
        </div>

        <div ng-if="currentPage==3"> <!-- Histórias -->
            <!-- TODO: Timeline de Histórias -->
            <div id="feed-rss" ng-controller='hitsCtrl'></div>

            <center>
                <a target="_blank" href='https://medium.com/@agenciafotro' class="btn btn-block btn-social btn-lg btn-facebook">
                    <span class="fa fa-medium"></span> Histórias no Medium
                </a>
            </center>

        </div>

        <div ng-if="currentPage==4" class='feed'> <!-- Contato -->

            <!-- Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120040.50727953008!2d-43.97449125873752!3d-19.913198762680484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69bd2609161b9%3A0x1992eef80de035f8!2sAg%C3%AAncia+Fotro!5e0!3m2!1spt-BR!2sbr!4v1469125568793" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <form action="send-mail.php" method="get" autocomplete="on" role="form">

                <!-- Nome -->
                <div class="form-group">
                    <label for="name">Seu Nome: </label>
                    <input class="form-control" type="text" id="name" name="name" />
                </div>

                <!-- E-mail -->
                <div class="form-group">
                    <label for="email">Seu E-mail: </label>
                    <input class="form-control" type="text" pattern="([a-z._0-9]+@[a-z_0-9]+(.com|.org|.net))" id="email"  name="email"/>
                </div>

                <!-- Mensagem -->
                <div class="form-group">
                    <label for="msg">Sua Mensagem: </label>
                    <textarea class="form-control" type="text" rows= "3" id="msg"  name="msg"></textarea>
                </div>

                <div>
                    <input type="submit" class="btn btn-default" id="submit" value="Enviar!">
                </div>


            </form>
        </div>

    </div>

    <!-- Propaganda Desque -->
    <a href='http://desque.com.br'>
      <div id='desque-ad'>


          By <img height='20px' src='http://desque.com.br/wp-content/uploads/2016/07/logo-icon.png'></img>
          + <i class="fa fa-heart" aria-hidden="true"  style='color: red;'></i> + <i class="fa fa-coffee" aria-hidden="true"  style='color: #601515;'></i>

      </div>
    </a>

</div>
</body>
</html>
