<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Import -->

    <!-- AngularJS -->
    <script src="./bower_components/angular/angular.min.js"></script>
      <!-- Angular-Flickr(CSS+JS) -->
    <link rel="stylesheet" href="./bower_components/angular-flickr/dist/angular-flickr.min.css">
    <script src="./bower_components/angular-flickr/dist/angular-flickr.min.js"></script>

    <!-- JQuery -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
      <!-- JQuery UI -->
    <script src="./bower_components/jquery-ui/jquery-ui.min.js"></script>
      <!-- AutoGrow -->
    <script src="./bower_components/autogrow/autogrow.min.js"></script>
      <!-- Slick Carousel + Angular-Slick -->
    <script src="./bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <!-- Fonts [Roboto, Merriweather] -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css" >
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="./bower_components/material-design-lite/material.min.css">
    <script src="./bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- My code -->
    <!-- Olian CSS -->
    <link rel="stylesheet" href="./css/olian.css">

    <!-- Load JS -->

    <!-- JQuery code -->
    <script src="./js/animation.js"></script>
    <!-- Angular Code -->
    <script src="./js/modules.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/routes.js"></script>


  <!-- Meta area -->
  <meta name='viewport' content='width=width-device, initial-scale=1'>
  <meta charset="UTF-8">

  <!-- Título -->
  <title>Agência Olian</title>

</head>
<body>
<!-- Header -->
<div class="block">
  <div id="header">
    <!-- Logo -->
    <img src="img/logo.png" alt="Olian Logo">

    <!-- Menu Container -->
    <div id="menu">
      <a href='https://www.flickr.com/photos/agencia-olian/albums'>
        Portfolio
      </a>
      <a href='#noticias'>
        Notícias
      </a>
      <a href='#contato'>
        Contato
      </a>
      <!-- Toggle menu -->
      <a href="#" class='menu-btn'>
        <i class="fa fa-bars"></i>
      </a>
    </div>


  </div>
</div>

<!-- Mobile Menu -->
<div class="block" id="mobi-menu">

    <a href='https://www.flickr.com/photos/agencia-olian/albums'>
      Portfolio
    </a>

    <a href='#noticias'>
      Notícias
    </a>

    <a href='#contato'>
      Contato
    </a>
</div>

<!-- Banner -->
<div id="banner">

  <!-- Slides -->

  <div id="slide" ng-app='Slider' ng-controller='bannerCtrl'>

    <!-- Imagens no Slick Element -->

    <!-- <img ng-repeat="img in imgs" ng-src="{{img.url}}" alt="{{img.name}}"> -->
    <img ng-src="{{ imgs[currentImg].url }}" alt="{{currentImg}}">


    <!-- Área para descrição -->
    <div class="description">

      <!-- Texto -->
      <h1>Agência Olian - 15 anos de sucesso!</h1>

      <!-- Botão -->
      <button>Click-me</button>

      <!-- Navegação -->
      <div class="navigation">
        <a href="" ng-click='next()' class="arrow-left"> <i class="fa fa-angle-left"></i> </a>
        <a href="" ng-click='back()' class="arrow-right"> <i class="fa fa-angle-right"></i> </a>
      </div>

    </div>

  </div>

</div>

<!-- container -->
<div id="conteudo" class="block">

  <!-- <h1> Meus Trabalhos </h1> -->

  <div id="boxes">

    <!-- Notícias -->
    <div class='box'>
      <a name="noticias"><h2>
        <i class="fa fa-newspaper-o"></i>
        Notícias
      </h2></a>
      <div class="grid">

      </div>
    </div>

    <!-- Portfólio -->
     <div class='box'>
      <a name="portfolio"><h2>
        <i class="fa fa-picture-o"></i>
        Portfólio
      </h2></a>

      <div class="grid" ng-app='portfolioPreview' ng-controller='galeriaCtrl'>

        <div on-last-repeat ng-repeat='album in data.photosets.photoset' class='item'>
          <img class='capa mdl-shadow--2dp' ng-src="https://farm{{album.farm}}.staticflickr.com/{{album.server}}/{{album.primary}}_{{album.secret}}_k.jpg" alt="">
          <div class="info">
              <h4><a href="https://www.flickr.com/photos/agencia-olian/albums/{{album.id}}" class="titulo">{{album.title._content}}</a></h4>
              <div class="qntd-fotos">{{album.photos}} fotos</div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>


<div class="block">
  <div id="contato">
    <a name="contato"><h1>Contato</h1></a>
    <form action="#">

      <!-- Nome -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" pattern="" id="nome" />
        <label class="mdl-textfield__label" for="nome">Nome...</label>
      </div>

      <!-- E-mail -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" pattern="([a-z._0-9]+@[a-z_0-9]+(.com|.org|.net))" id="email" />
        <label class="mdl-textfield__label" for="email">E-mail...</label>
        <span class="mdl-textfield__error">E-mail inválido!</span>
      </div>

      <!-- Mensagem -->
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
        <label class="mdl-textfield__label" for="message">Sua Mensagem Aqui...</label>
      </div>

      <div>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit" value="Enviar e-mail!">
      </div>


  </form>

  </div>
</div>

</body>
</html>
