* {
    text-align: center;
    font-family: 'Arial', serif;;
}

label, #path {
    color: white;
}

body {
    background-image: url("../images/filete.jpg");
    background-color: #535353;
    background-repeat: repeat-x;
    background-position: 0 160px;

}

h1 {
    letter-spacing: 0;
    word-spacing: 20px;
    font-weight: bolder;
    font-size: 80px;
}

h2 {
    letter-spacing: 0;
    /*word-spacing: 20px;*/
    font-weight: bolder;
    /*font-size: 80px;*/
}

th {
    color: white;
    text-align: center;
}

#header, #footer {
    min-height: 80px;
    padding: 20px;
    vertical-align: middle;
    background: #FFF;
    color: #4E4E4E;
    font-weight: bolder;

}

#footer {
    background: none;
}

#header > img, #footer > img {
    margin: auto;
    display: block;
}

#path {
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    /*background: #EFC21E;*/
    margin: 0 0 30px;
}

#pauta {
    padding: 15px 0 0;
    margin: 0 auto;
    display: block;
    max-width: 800px;
    /*background: #EFC21E;*/
}
#wrap {
    padding: 60px 0;
    color: #4E4E4E;
    background: #efc21e; /* Amarelo */
}

input, textarea {
    background-color: #333;
}

.btn {
    background: #EFC21E;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
